body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ################# nav ################# */
.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 0);
    border-bottom: 1px solid rgb(0, 38, 255);
    margin-bottom: 20px;
}
.nav h1 {
    margin-left: 10px;
}
.btnMenu {
    display: flex;
    gap: 5px;
    padding-right: 20px;
    cursor: pointer;
}
.btnMenu p{
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgb(255, 255, 0);
    border-radius: 8px;
    padding: 5px;
}
.btnMenu p:hover{
    border: 1px solid rgb(0, 38, 255);
    color: rgb(0, 38, 255);
}
.homeLink {
    text-decoration: none;
    color: black;
}
.homeLink:hover {
    color: rgb(0, 38, 255);
}

/* ############  contentIndex  ############ */
.contentIndex {
    margin-top: 61px;
}
/* ----- titlexIndex ----- */ 
.titlesIndex {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.titlesIndex p {
    background-color: rgb(224, 224, 224);
    padding: 10px;
    margin: 0px;
}

/* ------ listIndex ------ */

.listIndex {
    background-color: rgb(177, 177, 177);
    position: absolute;
    top: 61px;
    right: -166px;
    margin: 0px;
    padding: 0px;
    padding: 20px;
    transition: 600ms ease-in-out;
}
.listIndexShow {
    right: 0px;
    transition: 600ms ease-in-out;
}
.listIndex li {
    padding: 5px;
    list-style: none;
}

.listIndex li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 254, 254);
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
.listIndex li a:hover {
    color: rgb(0, 38, 255);
    border-bottom: 1px solid rgb(0, 38, 255);
}
/* ############# containerFig #############  */
.containerFig {

}
.containerResponsive {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    min-width: 340px;
    padding: 20px 10px 30px 10px;
    /* border-bottom: 1px solid blue; */
}
/* .dividerA {
    background-color: rgb(87, 87, 87);
}
.dividerB {
    background-color: rgb(153, 153, 153);
} */
.formulaImg {
    width: 340px;
}
.formulaImg img {
    width: 340px;
}
.perimeterArea {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.containerFormules {
    background-color: rgb(218, 218, 218);
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    /* margin-bottom: 20px; */
}
.titlesFormules {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
}
.textFormule {
    color: rgb(0, 38, 255);
    font-weight: 700;
}
.winStyle {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 50px;
    color: rgb(0, 38, 255);
    font-weight: 700;
    font-size: 20px;
}

.btnResult {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(160, 160, 160);
}
.btnResult:hover {
    border: 1px solid rgb(0, 38, 255);
    color: rgb(0, 38, 255);
}
.winPosition {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputStyle {
    text-align: center;
    width: 60px;
    height: 25px;
    font-weight: 700;
    margin-right: 50px;
}
/* ------ PerimeterSquare ------ */
/* -------- AreaSquare --------- */

@media screen and (max-width: 1060px) {
    .containerResponsive {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 720px) {
    .perimeterArea {
        flex-direction: column;
    }
}

